<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "user" class="com.spring.bean.User" init-method="init_method" destroy-method="destory_method">
        <property name="userid" value="1"></property>
        <property name="username" value="cgj"></property>
        <property name="password" value="123456"></property>
    </bean>
</beans>